<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link " routerLink="films/filtre/popular/1">
          Populaires <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="films/filtre/now_playing/1"> Du moment </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="films/filtre/upcoming/1"> À venir </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="films/filtre/top_rated/1"> Les mieux notés </a>
      </li>
    </ul>

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Genre</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li *ngFor="let category of categories" class="nav-item">
        <a class="nav-link" routerLink="films/genre/{{category.name}}/{{category.id}}/1">
          {{ category.name }}
        </a>
      </li>
    </ul>
  </div>
</nav>
