<body>
  <app-nav></app-nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <app-category></app-category>
      </div>

      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>

