<h3 *ngIf="movies">Films {{titlePage}}</h3>
<div class="row">

    <div *ngFor="let movie of movies " class="card" class="moviecard" style="width: 18rem">
      <img
        class="card-img-top"
        [src]="'https://image.tmdb.org/t/p/w440_and_h660_face' + movie.poster_path"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">
          {{movie.release_date | date: 'd LLLL yyyy '}}
        </p>
      </div>
    </div>
    
    
</div>
